# Archivos generados por Gradle y compilación
.gradle/
build/
app/build/
*.iml

# Archivos de configuración de Android Studio / IntelliJ IDEA
.idea/
local.properties

# Archivos de sistema y logs
.DS_Store
.kotlin/
*.log

# Capturas
captures/
.externalNativeBuild/
.cxx/
